*, html {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0 1rem;
}

a, a:active, a:visited {
  color: dodgerblue;
  text-decoration: none;
}

label {
  display: block;
  font-size: 90%;
  color: #999;
  margin-bottom: 0.3rem;
}

input[type='text'], input[type=password], textarea {
  border: 1px solid #ccc;
  padding: 3px 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 100%;
}

div.content {
  margin: 0 auto;
  max-width: 600px;
}

nav {
  padding: 0.8rem 0;
}

nav a {
  margin-right: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 0.2rem;
}

nav a.active-link, nav a:hover {
  border-bottom: 1px solid black;
}

div.main {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}
